<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
    <title>Список публикаций</title>
    <style>
        body {
            margin: 1em auto;
            max-width: 40em;
            padding: 0 .62em;
            font: 1.2em/1.62 sans-serif;
        }
        h1, h3 {
            line-height: 1.2;
            margin-bottom: 0;
        }
        #sub {
            margin-top: 0;
            padding-top: 0;
        }
    </style>

    <article>
        <header>
            <h1>Публикации</h1>
            <aside><a href="{% url "api_post_list" %}">Список всех публикаций</a></aside>
            <aside><a href="{% url "api_category_list" %}">Категории</a></aside>
        </header>

        {% for pub in posts %}
            <h3>{{ pub.title }}</h3>
            <small><p id="sub">
                Публикация {{ pub.author }} от {{ pub.when_published }}&nbsp//
                категория: <a href="{% url "api_category_list" pub.category.id %}">{{ pub.category}}</a>&nbsp//
                статус: {{ pub.status }}
            </p></small>

            {{ pub.body|truncatewords:10|linebreaks }}
            
        {% empty %}
            <h3>Публикации нет</h3>
            <small><p>Чтобы добавить что-то в список, <a href="{% url "admin:index" %}">
                зайдите в админку</a> и добавьте их оттуда</p></small>
        
        {% endfor %}

    </article>
</html>
